header { 
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;

    transition: all 0.5s ease-in-out
}

header.black { background-color: #121212; }

.header-logo { height: 25px }

.header-logo img { height: 100%; transition: 0.5s }

.header-logo img:hover { height: 110% }

.header-user { height: 30px }

.header-user img { height: 100%; border-radius: 4px; transition: 0.5s }

.header-user img:hover { height: 110% }
