@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* { box-sizing: border-box; font-family: 'Roboto', sans-serif; color: #fff; user-select: none; }

body { background-color: #121212; margin: 0 }

.lists {
    margin: -10vh 0 0 0;
}

footer {
    margin: 50px 0;
    text-align: center;
    color: #d4d4d4;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #050205;
    display: flex;
    justify-content: center;
    align-items: center;
}